:root {
  --primary: #EBEBEB;
  --secondary: #f9f9f9;
  --accent: #186BB2;
}

body {
  margin: 0;
  font-family: 'Muli';
  font-size: 1.3em;
  color: #444;
  background-color: var(--primary);
}

.wrapper {
  background-color: var(--secondary);
  border: 1px solid var(--accent);
  margin: 50px 5%;
  padding: 30px 40px;
  box-shadow: 4px 4px 15px #444;
}

h1 { font-family: 'Ovo'; }

.io {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
}

.ioItem {
  flex: 1;
  background-color: var(--primary);
  height: 200px;
  min-width: 300px;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  resize: none;
  border: none;
  background-color: var(--primary);
  font-size: 1.3em;
  box-sizing: border-box;
  outline-color: var(--accent);
  color: #444;
}

label {
  display: block;
  border-bottom: 2px solid var(--accent);
  width: 100%;
  font-size: 1.1em;
  padding: 5px 10px;
  box-sizing: border-box;
}

.note {
  font-size: 0.75em;
  text-align: right;
}

.arrows { margin: 0px 20px; }

footer {
  margin-top: 100px;
  text-align: center;
}

.social {
  width: 65px;
  margin: 10px;
  transition: all 0.5s ease-out;
}

.social:hover {
  filter: grayscale(100%);
  opacity: 0.75;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 875px) {
  body {
    text-align: center;
  }
  .io {
    flex-direction: column;
  }
  .arrows {
    visibility: hidden;
  }
  .note { text-align: center; }
}

@media screen and (max-width: 450px) {
  .ioItem { min-width: 200px; }
  .wrapper { margin: 0; }
}